<div class="row login-box">
    <form class="col s12 center">
      <img src="http://lorempixel.com/120/120/" class="circle responsive-img">
      <span class="center grey-text"><h4>Welcome</h4></span>
      <div class="row">
        <div class="input-field col s12 offset-m3 m6">
          <i class="material-icons prefix">account_circle</i>
          <input id="email" name="email" [(ngModel)]="email" type="email" class="validate" placeholder="Please input your email">
          <label for="email" data-error="Please input valid email.">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 offset-m3 m6">
          <i class="material-icons prefix">lock</i>
          <input id="password" name="password" [(ngModel)]="password" type="password" class="validate" 
          minlength="5"  
          pattern="\d{0,8}"
          placeholder="Please input your password">
          <label for="password">Password</label>
  
        </div>
      </div>
      <a class="waves-effect waves-light btn teal lighten-3 col s8 offset-s2 m4 offset-m4" 
      (click)="doLogint()">Login</a>
      
      <h1>{{email}}</h1>
      <h1>{{password}}</h1>

    </form>
    
  </div>
        