<!--The content below is only a placeholder and can be replaced.-->


<!-- Grid systems -->
<!--<div class="row">
  <div class="col s12 m6 l4 xl3"><span class="flow-text">I am always full-width (col s12)</span></div>
  <div class="col s12 m6"><span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
  <div class="col m12 hide-on-small-only"><span class="flow-text">I am full-width on mobile (col s12 m6)</span></div>
</div> -->

<!-- button -->
<!--<a class="waves-effect waves-light btn purple lighten-4 ">button</a>
<a class="waves-effect waves-light btn pink lighten-4"><i class="material-icons left">alarm</i> button</a>
<a class="waves-effect waves-light btn red lighten-4"><i class="material-icons right">cloud</i>button</a>
-->

<router-outlet></router-outlet>



